---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <a href="https://daisy.pub" class="gpt-title">Daisy.Pub</a>
    <a href="https://daisy.pub" class="gpt-subtitle">Chat</a>
  </div>
  <p mt-1 op-60>
    
    <a href="https://daisy.pub"> Daisy's Personal Assistant</a>
    <a href="https://daisy.pub" class="font-bold"></a>
  </p>
</header>
